/* body {
    font-family: Arial, sans-serif;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  input {
    margin-right: 10px;
  }
  
  button {
    margin-left: 10px;
  }
   */